.surah_container{
    display: grid;
    place-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;

    .audio_list{
        
        .audio_item{
            border-bottom: 1px solid #000;
            padding-bottom: 20px;

            p{
                padding: 10px;
            }
        }
    }
}

.back{
    padding: 0 10px;
}